.selected-movie-container{
    position:relative
}
.movie-container{
    margin: 50px;
    
}
.selected-movie{
    display:flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.5);
}
.selected-movie img{
    width: 25%;
    height: auto;
    border :#d4af37 1px solid;
}

.movie-title{
  
    font-size: 20px;
 
}
.movie-description{
    position: relative;
    font-size: 20px;
  padding-left: 20px;
}

.gallery{
    position:absolute;
    display: grid;
    margin-left: 100px;
    align-self: center;
    grid-template-columns: repeat(6,250px);
    grid-template-rows: repeat (3, 450px);
    grid-gap: 25px;
    margin-top: 40px;
    grid-auto-rows: 500px;
    justify-items: center;
    justify-content: center;
    align-items: stretch;
    align-content: center;
    grid-auto-flow: rows;
    grid-auto-rows: minmax(300px, auto);
    margin-bottom: 5px;
}

.movie {
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.5);
   
}

.movie img {
    width: 100%;
    height: auto;
}

.movie-details {
    text-align:justify;
    text-justify: inter-character;
}

.movie-description li{
    display: inline-block;
    list-style: none;
    
    padding-right: 40px;
}

.movie-description i{
     color: #d4af37;
}
.movie-description i:hover{
    color: #C0D6DF;
    font-size: 50px;
}
.movie-description .rating{
    
    color: #d4af37;
    margin-top: 70px;
    padding: 10px;
    position: absolute;
    left : 18px;
    text-align: start;
    
}



  .refresh-button {
    height: 70px;
    position: absolute;
    bottom: -200px;
}

.refresh-button button{
    border-radius: 15px;
    padding: 10px;
    background-color: #d4af37;
}

.refresh-button button:hover{
    text-decoration: underline;
}
