<div class = "gallery"  >
    
    <div class ="movie" *ngFor = "let movie of loadedMovies; let i = index" (mouseover)="displayDelete= i" (mouseout) = "displayDelete = -1" >
        <img src = "https://image.tmdb.org/t/p/w500{{movie.poster_path}}" (click) = "displaySelectedMovie(movie)" /> 

            <div (click) = "deleteMovie(movie)"><i class="fa fa-times-circle-o" aria-hidden="true" [ngStyle] = "{'visibility': displayDelete===i ? 'visible':'hidden'}"></i></div>
            
      
            <h3 style = "text-align: center">{{movie.title}}</h3>
            <div style = "font-size: 8px; padding: 0 5px;" class= "movie-details">
            
            <h5>{{movie.overview}}</h5>

        </div>
     </div>

</div>


