.movie {
    border-radius: 10px;
   position: relative;
}

.movie i {
 position: absolute;
  top: 2%;
  bottom: 0;
  left: 90%;
  right: 0;
  height: 100%;
  width: 100%;
  color: #d4af37;
}
.movie button{
    position: absolute;
    top: 2%;
    
    color:#d4af37;
}
.movie i:hover{
    color:red;
}

.movie img {
    border-radius: 10px;
    width: 100%;
    height: auto;
}

.movie:hover {
    box-shadow: 0px 0px 10px  #d4af37;
}

.movie h3:hover{
    text-decoration: underline;
    text-decoration-color: #d4af37;
}
.movie h3:active {
    text-decoration: underline;
    text-decoration-color: #C0D6DF;
}

.movie:active{
 
  box-shadow: 0px 0px 10px #C0D6DF;
}

.gallery{
    border-radius: 10px;
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    grid-template-rows: repeat (3, 450px);
    grid-gap: 25px;
    margin-top: 40px;
    grid-auto-rows: 500px;
    justify-items: center;
    justify-content: center;
    align-items: stretch;
    align-content: center;
    grid-auto-flow: rows;
    grid-auto-rows: minmax(300px, auto)
}

.movie-details {
    text-align:justify;
    text-justify: inter-character;
}
